body {
  margin: 0;
  padding: 0;
  color:white;
  background-color: #7AB2B2;
  display: flex;
  justify-content: center;
  align-items: center;
}


.main {
  width: 350px;
  text-align: center;
  box-sizing: border-box;
  padding-top: 10em;
  margin: 0 auto;


}

.legend {
  text-align: left;
}