body {
  margin: 0;
  padding: 0;
  color:white;
  background-color: #7AB2B2;
}


.main {
  width: 480px;
  height: 300px;
  text-align: center;
  
  
  margin: auto;
  
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

}